body, html{
	max-width: 100%;
	max-height: 100%;
	background-color: #bf96ba;
}

ul {
    padding: 0;
    list-style-type: none;
}

#nextBTN{
	border: 1px solid #777777;
	background: #7e7618;
	color: white;
	font: bold 28px 'Trebuchet MS';
	padding: 5px 20px 5px 20px;
	cursor: pointer;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	display:block;
	margin:0 auto;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:5000;
}

#nextBTN:focus {outline:0;}
#nextBTN:hover {
	background-color: #726900;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
}

#animalType{
	text-align: center;
	/*color: #7e7618;
	font-size: 120px;
	font-family: arial, helvetica, san-serif;*/
}

#animalImg{
	display: block;
	max-width:300px;
	max-height:200px;
	width: auto;
	height: auto;
	margin:0 auto;
	/*position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}

#totalScore{
	text-align: center;
	color: #7e7618;
	font-size: 50px;
	font-family: arial, helvetica, san-serif;
	font: bold;
}

#message{
	text-align: center;
	color: #7e7618;
	font: bold 28px 'Trebuchet MS';
}

#message:hover{
	color:#FFFFFF;
	cursor:pointer;
}

#message:focus {outline:0;}

#content{
	margin:0 auto;
	position: absolute;
	width:80%;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#landingImg{
	width:80%;
	margin:0 auto;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (min-width: 800px) {
	section{
		max-width:80%;
		max-height:80%;
		height:80%;
		width:60%;
		background-color: #eedc0c;
		border: 10px solid #7e7618;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 30px;
		background-image: url("../images/background.png");
		background-repeat:no-repeat;
		background-size:100% auto;
		background-position: center bottom;
	}
	
	h1{
		text-align: center;
		color: #7e7618;
		font-size: 30px;
		font-family: arial, helvetica, san-serif;
	}
	
	li{
		list-style-type: none;
		background-color: #7e7618;
		padding: 15px;
		width:96%;
		color: white;
		font: bold 28px 'Trebuchet MS';
		text-align:center;
		cursor:pointer;	
	}
	
	li:hover{
		background-color: #726900;
	}
	
	li:active{
		background-color: #b0a527;
	}
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
	section{
		max-width:100%;
		max-height:100%;
		height:90%;
		width:90%;
		background-color: #eedc0c;
		border: 10px solid #7e7618;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 30px;
		background-image: url("../images/background.png");
		background-repeat:no-repeat;
		background-size:100% auto;
		background-position: center bottom;
	}
	
	h1{
		text-align: center;
		color: #7e7618;
		font-size: 20px;
		font-family: arial, helvetica, san-serif;
	}
		
	li{
		list-style-type: none;
		background-color: #7e7618;
		padding: 15px;
		width:87%;
		color: white;
		font: bold 16px 'Trebuchet MS';
		text-align:center;
		cursor:pointer;
	}
	
	li:hover{
		background-color: #726900;
	}
	
	li:active{
		background-color: #b0a527;
	}

}

@media only screen and (max-width: 799px) and (min-width:501px){
	section{
		max-width:100%;
		max-height:100%;
		height:90%;
		width:90%;
		background-color: #eedc0c;
		border: 10px solid #7e7618;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 30px;
		background-image: url("../images/background.png");
		background-repeat:no-repeat;
		background-size:100% auto;
		background-position: center bottom;
	}
	
	h1{
		text-align: center;
		color: #7e7618;
		font-size: 25px;
		font-family: arial, helvetica, san-serif;
	}
	
	li{
		list-style-type: none;
		background-color: #7e7618;
		padding: 15px;
		width:93%;
		color: white;
		font: bold 20px 'Trebuchet MS';
		text-align:center;
		cursor:pointer;
	}
	
	li:hover{
		background-color: #726900;
	}
	
	li:active{
		background-color: #b0a527;
	}

}